# Visual Studio
.vs/
*.suo
*.user
*.cache
*.dbmdl

# Build results
bin/
obj/

# EF Migrations snapshot 
*.Snapshot.cs

# Other temp files
*.log
*.vsix

#connection file
Hotel Management System/appsettings.json

Hotel Management System/appsettings.Development.json

